<% content_for :title do %>
  <%= "あなたがウホしているゴリラ一覧 | banuho" %>
<% end %>

<div id="users_ajax">
  <%= render "users", title:@title, users:@users %>
</div>

<%# アドセンス広告=>レクタングル大 %>
<%= render "home/adsense" %>

